.inicio {
    background: url(../pages/img/fondo.jpg);
    padding: 4rem 2rem;
    text-align: center;
}

.inicio-contenido {
    max-width: 1000px;
    margin: 0 auto;
}

.inicio h1 {
    font-size: 3.5rem;
    color: #2c1202;
    margin-bottom: 1rem;
    font-family: 'Segoe UI', sans-serif;
}

.inicio-subtitulo {
    font-size: 2rem;
    color: #431c03;
    margin-bottom: 2rem;
    font-family: 'Segoe UI', sans-serif;
}

.inicio-carectisticas {
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
    margin-top: 2rem;
}

.caracteristicas {
    align-items: center;
    gap: 10px;
    background-color: #fff;
    padding: 2rem 1.5rem;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 250px; 
}

.caracteristicas:hover {
    transform:scale(1.05);
}

.caracteristicas i {
    color: hsl(14, 100%, 57%);
    font-size: 1.5rem;
}

